{% load static %}
<!-- Apresentação -->
<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-xl-8">
                <!-- Citação -->
                <div class="fs-4 mb-4 fst-italic text-muted">
                    "Estamos conectando não apenas pessoas, mas possibilidades; construindo um futuro
                     onde a inovação é tão ilimitada quanto a nossa rede e o impacto é tão profundo quanto as conexões que criamos."
                </div>
                <!-- Autor e Imagem -->
                <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                    <img class="rounded-circle shadow-sm img-fluid me-3"
                         src="{% static 'assets/Alexander.png' %}"
                         alt="Alexander Titan Aurelius"
                         style="width: 120px; height: 120px; object-fit: cover;">
                    <div class="text-center text-sm-start">
                        <h5 class="fw-bold mb-0">Alexander Titan Aurelius</h5>
                        <span class="text-primary">CEO, FastNet</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
